@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "/node_modules/flowbite-vue/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, * {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  body {
    @apply bg-dark text-light select-none;
  }
}
